/*
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    background-color:#f0ece2;
}

@font-face {
    font-family: "ardoise";
    src:
        url("/font-family-ardoise/fonts/fonnts.com-Ardoise_Std.otf") format("opentype");
}

@font-face {
    font-family: "myriad-pro";
    src:
        url("/font-family-myriad-pro/MYRIADPRO-REGULAR.OTF") format("opentype");
}

/* General styles  and typographie */

h1 {
    text-align: center;
}
h1, h3 {
    font-family: ardoise, sans-serif;
    font-weight: bold;
    font-size: 2em;
}

a, h3 {
    font-family: ardoise, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}
h4 {
    font-family: ardoise, sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: red;
    
}

p {
    font-family: myriad-pro;
    font-size: 1em;
    text-align: center;
}

article > p {
    text-align: left;
    hyphens: auto;
}

/* enlever le bandeau photo dates et horaires sur grand écran (prévu pour les petits) */

@media screen and (width >=426px) {
    .titre-et-horaires-petit-ecran {
        display:none;
    }
}
/* pour les petits écran, enlever le h1 titre et horaires
@media screen and (width <=426px) {
    .titre-et-horaires-grand-ecran {
        display: none;
    }
}
/* ---------------taille des polices pour les tablettes et les pc portables--------*/

@media screen and (width <=1025px) {
    h1{
    font-size:  1.6em;
    margin-left: 5%;
    text-align: center;
    }
    
}

/* ---------------taille des polices pour les tel portables -------- */

@media screen and (width <= 426px){
    
    h1 {
        text-align: center;
        text-wrap: wrap;
        margin:0;
        font-family: ardoise, sans-serif;
        font-weight: bold;
        font-size: 1.4em;
    }
    
    h2 {
    font-family: ardoise, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    }
    a, h3 {
    font-family: ardoise, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    }

    p {
    font-family: myriad-pro;
    font-size: 1em;
    text-align: center;
    }
    
}

/*-------------------le header------------------- */

header {
    padding: 0px;
    margin: 0px;
    max-width: 100vw;

    align-items: center;
    box-sizing: border-box;
/* position sticky ne marche pas avec toggle*/
    top: 0;
    }

.logo-soleil-musee {
    width: 100%;
    height: 100%;
} 

/* ----------dessin musée manipulations ici ----------- */

@media (min-width:768px) {
.dessin-musee {
    width: 220px;
    height:auto;
    position:absolute;
    top:55px;
    right:10px;
}
.dessin-musee > img {
    width:100%;
}
}

@media (min-width:1024px) {
.dessin-musee {
    width: 300px;
    height:auto;
    position:absolute;
    top: 65px;
    right:0px;
}
.dessin-musee > img {
    width:100%;
}
}
@media (min-width:1400px) {
.dessin-musee {
    width: 400px;
    height:auto;
    position:absolute;
    top: 55px;
    right:0px;
}
.dessin-musee > img {
    width:100%;
}
}

@media (max-width:767px) {
    .dessin-musee {
    display: none;
}
    .dessin-musee > img {
    display:none;
    }
}

/* ---------------------boite cachée (ou pas) du menu----------------- */

/* alignement du menu à droite */
header > nav {
  display: flex;
  justify-content: end;
}
/* créer la boîte du menu */
li {
  background-color: #004160;
  list-style: none;
}
/* style du texte des liens */
header a{
    background-color: #004160;
    color: white;
    text-decoration: none;
}
/* le style du burger */

#burger-icone {
    width:40px;
    height:40px;
    position: absolute;
    top:20px;
    right:20px;
    line-height: 30px;
    text-align: center;
    font-family: ardoise, sans-serif;
    font-size: 3em;
    font-weight: bolder;
    border-style:none;
    background-color:#f7dd9c;
}
/* style de la boite (cachée ou pas) contenant les liens */
#pop-up-menu {
  background-color: #004160;;
  border: solid;
  border-color: #004160;
  padding: 10px;
  position:absolute;
  top:5px;
  right:5px;
  
}
/* popover */
:popover-open {
        width:260px;
        height:170px;
        position: absolute;
        inset: unset;
        margin: 0;
        border: solid;
        padding: 10px;
        top:0px;
        right:0px;
      }



.bandeau-intercalaire {
    max-width: 100 vw;
    background-color: #004160;
    color: white;
    font-family: ardoise;
    font-size: 2em;
    text-align: center;
    padding: 0px 10px 10px 10px;
}
@media  (max-width: 425px) {
    .bandeau-intercalaire {
        font-size: 1.5em;
    }
}
/* main */

main {
    margin-top: 0;
    padding: 0;
    max-width: 100vw;
    height: auto;
    box-sizing: border-box;
}
.photo-bandeau-horaires {
    width:100%;
}
.photo-bandeau-horaires > img {
    width: 100%;
}

/* flex conteneur des vignettes artiste-image-et-texte-vertical, et artiste-image-et-texte-horizontal */


.artiste-image-et-texte-vertical > * {
    width: 300px;
    padding:10px;
}
.container-vignettes-artistes {
    display: flex;
    max-width: 100vw;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.artiste-image-et-texte-vertical {
    border: 2px solid #004160;
    border-radius: 10px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin-top:32px;
}
.artiste-image-et-texte-horizontal> * {
    width: 300px;
    padding: 10px;
}
.artiste-image-et-texte-horizontal {
    display:flex;
    flex-wrap:nowrap;
    max-width:100%;
    justify-content: space-between;
    border: 2px solid #004160;
    border-radius: 10px;
    margin: 32px;
}

/* pour les TELEPHONES PORTABLES et les TRES GRANDS PC, toutes les vignettes horizontales sont supprimées    */

@media (max-width:426px) , (min-width:1330px) {
    .no-display-horizontal-3artistes {
        display:none;
    }
    .no-display-horizontal-4artistes {
        display:none;
    }
}
/* lors des changements d'expositions, normalement il suffit de changer le fichier HTML, le code CSS est écrit de manière
à prendre en compte 2, 3, ou 4 artistes à chaque exposition*/

/* s'il y a TROIS ARTISTES, en FORMAT TABLETTE, 
la 3eme vignette est horizontale et le texte est à droite */

/* s'il y a QUATRE ARTISTES, en FORMAT TABLETTE
les 4 vignettes sont verticales, 2 par 2

/* Donc s'il y a TROIS ou QUATRE artistes en FORMAT TABLETTE,
les versions redondantes sont supprimées */

@media (min-width:768px) and (max-width:1000px) {

    .no-display-vertical-3artistes {
    display:none;
}

    .no-display-horizontal-4artistes {
    display:none;
}
}

/* s'il y TROIS ARTISTES, en FORMAT PC PORTABLE, les 3 premiers sont alignés, 
et le quatrième horizontal sur la ligne suivante,
donc on supprime les versions redondantes */

@media  (min-width:1001px) and (max-width:1329px)  {
    .no-display-horizontal-3artistes {
        display:none;
    }
    .no-display-vertical-4artistes {
        display:none;
    }
}



/* ---------la bande des logos à aligner-------*/
.bande-logos {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap:nowrap;
  max-width:100%;
}

.logo > img {
    width:110px;
    height:auto;
}
.logo-latronquiere > img {
    width:90px;
    height:auto;
}
@media(max-width:760px){
    .logo > img {
    width: 60px;
    height:auto;
}
    .logo-latronquiere > img {
    width:50px;
    height:auto;
}

}

/*--------------- footer ------------------*/

/* largeur et hauteur */

.monFooter {
    padding: 30px 10px 30px 10px;
    max-width: 100vw;
    height: 10vh;
    align-items: center;
    background-color: #ffcf53;
}

/* rendre le conteneur flex */

.menu-footer {
    display: flex;
    justify-content: space-around;
    background-color: #ffcf53;
}

/* finition */

.menu-footer a {
    display: inline;
    background-color: #ffcf53;
    font-size: large;
    border-color: #ffcf53;
    color:#560404;
    text-decoration: none;
    font-weight: bold;
    
}