/*
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color:#f0ece2;
}
@font-face {
    font-family: "ardoise";
    src:
        url("/font-family-ardoise/fonts/fonnts.com-Ardoise_Std.otf") format("opentype");
}

@font-face {
    font-family: "myriad-pro";
    src:
        url("/font-family-myriad-pro/MYRIADPRO-REGULAR.OTF") format("opentype");
}
/* popover */
:popover-open {
        width: 300px;
        height: 200px;
        position: absolute;
        inset: unset;
        margin: 0;
        border: solid;
        padding: 10px;
        top:5px;
        right:5px;
      }
/* General styles  and typographie pour les écrans tablettes et pc */


h1 {
    text-align: center;
}
h1, h3 {
    font-family: ardoise, sans-serif;
    font-weight: bold;
    font-size: 2em;
}

a, h3 {
    font-family: ardoise, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}
h4 {
    font-family: ardoise, sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: red;
    
}

p {
    font-family: myriad-pro;
    font-size: 1em;
    text-align: center;
}

article > p {
    text-align: left;
    hyphens: auto;
}
/* ---------------taille des polices pour les tablettes --------*/

@media screen and (width <=769px) {
    h1{
    font-size:  1.5em;
    margin-left: 5%;
    text-align: left;
    }
    
}
/* ---------------taille des polices pour les portables -------- */

@media screen and (width <= 426px){
    
    h1 {
        text-align: center;
        text-wrap: nowrap;
        margin:0;
        font-family: ardoise, sans-serif;
        font-weight: bold;
        font-size: 1.5em;
    }
    
    h2 {
    font-family: ardoise, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    }
    a, h3 {
    font-family: ardoise, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    }

    p {
    font-family: myriad-pro;
    font-size: 1em;
    text-align: center;
    }
    
}

/*-------------------le header------------------- */

header {
    padding: 0px;
    margin: 0px;
    max-width: 100vw;

    align-items: center;
    box-sizing: border-box;
/* sticky ne fonctionne pas avec le toggle*/
    top: 0;

    }


.logo-soleil-musee {
    width: 100%;
    height: 100%;
} 

#burger-icone {
    width:40px;
    height:40px;
    position: absolute;
    top:20px;
    right:20px;
    line-height: 30px;
    text-align: center;
    font-family: ardoise, sans-serif;
    font-size: 3em;
    font-weight: bolder;
    border-style:none;
    background-color:#f7dd9c;
}
/* ----------dessin musée manipulations ici ----------- */

@media (min-width:768px) {
.dessin-musee {
    width: 220px;
    height:auto;
    position:absolute;
    top:55px;
    right:10px;
}
.dessin-musee > img {
    width:100%;
}
}

@media (min-width:1024px) {
.dessin-musee {
    width: 300px;
    height:auto;
    position:absolute;
    top: 65px;
    right:0px;
}
.dessin-musee > img {
    width:100%;
}
}

@media (max-width:767px) {
    .dessin-musee {
    display: none;
}
    .dessin-musee > img {
    display:none;
    }
}


/* ---------------------boite cachée (ou pas) du menu----------------- */

/* alignement du menu à droite */
header > nav {
  display: flex;
  justify-content: end;
}
/* créer la boîte du menu */
li {
  background-color: #004160;
  list-style: none;
}
/* style du texte des liens */
header a{
    background-color: #004160;
    color: white;
    text-decoration: none;
}
/* style de la boite (cachée ou pas) contenant les liens */
#pop-up-menu {
  background-color: #004160;;
  border: solid;
  border-color: #004160;
  padding: 10px;
  position:absolute;
  top:5px;
  right:5px;
  
}



/* ******************************** à partir de là c'est différent pour ls autres pages ***************/

.bandeau-intercalaire {
    max-width: 100 vw;
    background-color: #004160;
    color: white;
    font-family: ardoise;
    font-size: 2em;
    text-align: center;
    padding: 0px 10px 10px 10px;
}
@media  (max-width: 425px) {
    .bandeau-intercalaire {
        font-size: 1.5em;
    }
}
/* main */

main {
    margin-top: 0%;
    padding: 0;
    max-width: 100vw;
    height: auto;
    box-sizing: border-box;
}
/* réduire la taille des section */

section {
    padding: 10px;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
} 


/* ajuster la taille des images et du texte sur le sculpteur GEK */

.photo1 > img {
    width:300px;
    height:auto;
}

.photo2 > img {
    width:300px;
    height:auto;
}
.photo3 > img {
    width:300px;
    height:auto;
}



/* flex container des photos, 1ere section*/


.container-photos-sculptures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    max-height: auto;
}
.texte-GEK{
    width:100%;
    height:auto;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}

@media (max-width: 768px) {
    .container-photos-sculptures > img{
        width: 100%;
        }
    .texte-GEK{
        width:300px;
        height:auto;
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }
    }
.bouton-horaires-ouverture {
    width:250px;
    height: 60px;
    border: solid;
    border-color: #560404;
    border-radius: 10px;
    background-color: #457b65;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;;
}
.bouton-horaires-ouverture > a {

    text-decoration: none;
    background-color: #457b65;
    color: #ffcf53;
}
@media (min-width:768px) {
    .bouton-horaires-ouverture {
        margin: auto;
    }
    .texte-GEK > p {
        margin-bottom: 30px;
    }
}

/* flex conteneur des vignettes artiste-image-et-texte-vertical, 2eme section*/

/* flex conteneur des vignettes artiste-image-et-texte-vertical, et artiste-image-et-texte-horizontal */


.artiste-image-et-texte-vertical > * {
    width: 300px;
    padding:10px;
}
.container-vignettes-artistes {
    display: flex;
    max-width: 100vw;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.artiste-image-et-texte-vertical {
    border: 2px solid #004160;
    border-radius: 10px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin-top:32px;
}
.artiste-image-et-texte-horizontal> * {
    width: 300px;
    padding: 10px;
}
.artiste-image-et-texte-horizontal {
    display:flex;
    flex-wrap:nowrap;
    max-width:100%;
    justify-content: space-between;
    border: 2px solid #004160;
    border-radius: 10px;
    margin: 32px;
}


/* pour les TELEPHONES PORTABLES et les TRES GRANDS PC, toutes les vignettes horizontales sont supprimées    */

@media (max-width:426px) , (min-width:1330px) {
    .no-display-horizontal-3artistes {
        display:none;
    }
    .no-display-horizontal-4artistes {
        display:none;
    }
}
/* lors des changements d'expositions, normalement il suffit de changer le fichier HTML, le code CSS est écrit de manière
à prendre en compte 2, 3, ou 4 artistes à chaque exposition */

/* s'il y a TROIS ARTISTES, en FORMAT TABLETTE, 
la 3eme vignette est horizontale et le texte est à droite */

/* s'il y a QUATRE ARTISTES, en FORMAT TABLETTE
les 4 vignettes sont verticales, 2 par 2

/* Donc s'il y a TROIS ou QUATRE artistes en FORMAT TABLETTE,
les versions redondantes sont supprimées */

@media (min-width:768px) and (max-width:1000px) {

    .no-display-vertical-3artistes {
    display:none;
}

    .no-display-horizontal-4artistes {
    display:none;
}
}

/* s'il y TROIS ARTISTES, en FORMAT PC PORTABLE, les 3 premiers sont alignés, 
et le quatrième horizontal sur la ligne suivante,
donc on supprime les versions redondantes */

@media  (min-width:1001px) and (max-width:1329px)  {
    .no-display-horizontal-3artistes {
        display:none;
    }
    .no-display-vertical-4artistes {
        display:none;
    }
}



/* mise en forme lien vers programme de la saison */

.bouton-vers-programme-saison {
    width:250px;
    height:60px;
    border-radius: 10px;
    border: solid;
    border-bottom: #560404;
    background-color: #457b65;
    text-align: center;
    padding: 10px;
    margin:auto;
    
}

.bouton-vers-programme-saison > a {
    text-decoration: none;
    background-color: #457b65;
    color:#ffcf53;
}


/* troisième section, déterminer la taille de base du texte et de la photo */

.photoFacade {
    max-width:400px;
    min-width:300px;
}

.PhotoFacade > img {
    width:100%;
}
.paragraphe-batiment {
    min-width:300px;
    max-width: 400px;
}
.paragraphe-batiment > article{
    text-align:left;
    padding:10px;
}


/* pour les formats PC & tablette, la photo et le texte sont cote à cote, le bouton sous le texte */

@media (min-width:768px) {

/* conteneur flex */
    .container-section3 {
    display: flex;
    max-width: 100%;
    justify-content: center;
    display: wrap;
    }

    .PhotoFacade > img {
    width: 100%;
    height: auto;
    padding: 10px;
    }
    .paragraphe-batiment {
    width: 100%;
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    }
}

/* centrer le texte dans sa div */

.paragraphe-batiment > p {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

/* mise en forme du bouton vers nous trouver */

.bouton-vers-nous-trouver-300 {
    width:250px;
    height: 60px;
    border: solid;
    border-color: #560404;
    border-radius: 10px;
    background-color: #457b65;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;;
}
.bouton-vers-nous-trouver-300 > a {

    text-decoration: none;
    background-color: #457b65;
    color: #ffcf53;
}
@media(max-width:767px) {
    .bouton-vers-nous-trouver-300 {
        margin: auto;
    }
    .paragraphe-batiment > p {
        margin-bottom: 20px;

}
}
/* ---------la bande des logos à aligner-------*/
.bande-logos {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap:nowrap;
  max-width:100%;
}

.logo > img {
    width:110px;
    height:auto;
}
.logo-latronquiere > img {
    width:60px;
}
@media(max-width:760px){
    .logo > img {
    width: 60px;
    height:auto;
}

}

/*--------------- footer ------------------*/

/* largeur et hauteur */

.monFooter {
    padding: 30px 10px 30px 10px;
    max-width: 100vw;
    height: 10vh;
    align-items: center;
    background-color: #ffcf53;
}

/* rendre le conteneur flex */

.menu-footer {
    display: flex;
    justify-content: space-around;
    background-color: #ffcf53;
}

/* finition */

.menu-footer a {
    display: inline;
    background-color: #ffcf53;
    font-size: large;
    border-color: #ffcf53;
    color:#560404;
    text-decoration: none;
    font-weight: bold;
    
}
